<html>
<head>
	<title>friendlyWager</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Kadwa:700|Cutive' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrapper">
		<div id='logo'>
			<h1>friendly wager</h1>
		</div>

		
		{{{body}}}
	</div> {{!-- end wrapper --}}
</body>
</html>
