
<div class='topic'>
	<h3 class='center'>Login</h3>
	<form action="/login" method="POST" id='login'>
	
		username<br>
	<label for="title">
		<input type="text" name="username">
	</label><br>
	password
	<br><label for="password">
		<input type="password" name="password">
	</label><br>
	<input class='button' type="submit" value="Submit">
	</form>

</div>

<div class='topic'>
<h3 class='center'>Signup</h3>
<form action="/newUser" method="POST" id='signup'>
	
	username<br>
	<label for="title">
		<input type="text" name="username">
	</label><br>
	
	password
	<br><label for="password">
		<input type="password" name="password">
	</label><br>
	
	first
	<br><label for="first">
		<input type="text" name="first">
	</label><br>

	last
	<br><label for="last">
		<input type="text" name="last">
	</label><br>

	image
	<br><label for="img_url">
		<input type="text" name="img_url">
	</label><br>

	<button class='button' type="submit">Submit</button>
	</form>

</div>