// mixins
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}
@mixin ul(){

}

@mixin border($color, $radius){
	border: 2px solid $color;
	border-radius: $radius + px;
}

/*Variables*/
$title_font:'Kadwa', serif;
$body_font: 'Cutive', serif;
/*colors*/
$yellow: #f7ef81; //rgba(247, 239, 129, 100)
$orange: #f2a359; //rgba(242, 163, 89, 100)
$green: #88ab75; //rgba(136, 171, 117, 100)
$blue: #006992; //rgba(0, 105, 146, 100)
$grey: #D6D6D6;
$light-blue: #8fb3b7; //rgba(143, 179, 183, 100)
$white: #EDEFEF;

html {
	font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body{
	padding: 5px;
	
	a{
		color: $blue;
	}

	
}

#wrapper{
	// background-color: $grey;
	width: 100%;
	min-width: 400px;
	margin: 0 auto;
	font-family: $body_font;
}
#logo {
	width: 100%;
	// background-color: $yellow;
	margin: 1rem 0;
	h1 {
		font-family: $title_font;
		@include font-size(4);
		text-align: center;
		margin: 0;
	}

}

nav{
	display: flex;
	ul{
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	li{
		width: 30%;

		height: 4rem;
		@include font-size(3);
		margin: 0 0 0 2%;
		padding-top: 1.5rem;
		display: inline-block;
		
		// background-color: $orange;
		@include border($blue, 5);
		text-align: center;
	}

	a, a:visited{
		text-decoration: none;
		color: $blue;
	}

	li:hover{
		background-color: $blue;
	}

	a:hover{
		color: white;
	}
}

#menu{
	max-width: 400px;
	margin: 0 auto;

	ul{
		width: 100%;
		margin: 0;
		padding: 1px 0;
	}

	li{
		text-align: center;
		list-style-type: none;
		@include font-size(2.5);
		height: 3rem;
		padding-top: 1.25rem;
		background-color: $yellow;
		margin: 3%;
	}
}

.topic{
	@include font-size(2);
	@include border($white, 5);
	padding: 2rem;
	background-color: $white;
	margin: 1rem auto;
	

	a, a:visited{
		text-decoration: none;
		
	}
	a:hover{
		color: $orange;
	}

	p{
		display: inline-block;
		margin: 1rem 0;
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.edit{
		font-family: Arial, Sans-Serif;
		font-size: 2rem;
		float: right;
		margin: .5rem 0;
	}

	h2{
		text-align: center;
	}

	.meta{
		border-bottom-left-radius: 39px;
    	border-top-left-radius: 39px;
    	margin-right: -2.1rem;

		height: 75px;
		background-color: $grey;
		padding: .5rem;
		h3{
			margin: 0;
			padding: 1rem;
		}

		p{
			
			@include font-size(1);
			
		}

		img{
			float: left;
			margin: 0 1rem 0 0;
			border-radius: 50%;
		}

	}

	.stats{
		display: flex;
		text-align: center;

		p{
			width: 50%;
		}
	}
	
	.topic_actions{
		display: flex;
		a{	background-color: $green;
			width: 45%;
			height: 4rem;
			margin: 0 2.5%;
			@include font-size(3);
			padding-top:1.5rem;
			text-align: center;
		}
	}

	.comment, .wager{
		margin: 2rem 0;
	}
	
}

