/*Variables*/
/*colors*/
html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */ }

body {
  padding: 5px;
  color: #464954; }
  body h3 {
    margin: 0; }
  body a {
    text-decoration: none;
    color: #006992; }

#wrapper {
  width: 100%;
  min-width: 400px;
  margin: 0 auto;
  font-family: "Cutive", serif; }

#logo {
  display: block;
  max-width: 426px;
  height: 100px;
  margin: 1rem 0;
  background-image: url("../img/logo.jpg");
  background-repeat: no-repeat;
  margin: 2rem auto; }
  #logo h1 {
    font-family: "Kadwa", serif;
    font-size: 40px;
    font-size: 4rem;
    text-align: center;
    margin: 0; }

nav {
  display: flex; }
  nav ul {
    width: 100%;
    margin: 0 auto;
    padding: 0; }
  nav li {
    width: 30%;
    height: 4rem;
    font-size: 30px;
    font-size: 3rem;
    margin: 0 0 0 2%;
    padding-top: 1.5rem;
    display: inline-block;
    border: 2px solid #006992;
    border-radius: 5px;
    text-align: center; }
  nav a, nav a:visited {
    text-decoration: none;
    color: #006992; }
  nav li:hover {
    background-color: #006992; }
  nav a:hover {
    color: white; }

#menu {
  margin: 0 auto; }
  #menu ul {
    width: 100%;
    margin: 0;
    padding: 1px 0; }
  #menu li {
    text-align: center;
    list-style-type: none;
    height: 3rem;
    width: 100%;
    background-color: #d6d6d6;
    color: #006992;
    margin: 1rem auto;
    height: 4rem;
    border: 2px solid #d6d6d6;
    border-radius: 10px;
    font-size: 30px;
    font-size: 3rem;
    padding-top: 1.5rem; }
  #menu li:hover {
    background-color: #88ab75;
    border: 2px solid #88ab75;
    border-radius: 10px;
    color: #edefef; }

.topic {
  font-size: 20px;
  font-size: 2rem;
  border: 2px solid #edefef;
  border-radius: 5px;
  padding: 2rem;
  background-color: #edefef;
  margin: 1rem auto;
  line-height: 3rem; }
  .topic a, .topic a:visited {
    text-decoration: none; }
  .topic a:hover {
    color: #f2a359; }
  .topic p {
    display: inline-block;
    margin: 1rem 0;
    font-size: 1.5rem;
    line-height: 2rem; }
  .topic .edit {
    font-family: Arial, Sans-Serif;
    font-size: 2rem;
    float: right;
    margin: .5rem 0; }
  .topic h2 {
    text-align: center;
    line-height: 4rem; }
  .topic .meta {
    border-bottom-left-radius: 39px;
    border-top-left-radius: 39px;
    margin-right: -2.1rem;
    height: 75px;
    background-color: #d6d6d6;
    padding: .5rem; }
    .topic .meta h3 {
      margin: 0;
      padding: 1rem; }
    .topic .meta p {
      font-size: 10px;
      font-size: 1rem; }
    .topic .meta img {
      float: left;
      margin: 0 1rem 0 0;
      border-radius: 50%;
      overflow: hidden;
      width: 75px;
      height: 75px; }
  .topic .stats {
    display: flex;
    text-align: center; }
    .topic .stats p {
      width: 50%; }
  .topic .topic_actions {
    display: flex; }
    .topic .topic_actions a {
      border: 2px solid #d6d6d6;
      border-radius: 10px;
      background-color: #d6d6d6;
      width: 45%;
      height: 4rem;
      margin: 0 2.5%;
      font-size: 30px;
      font-size: 3rem;
      padding-top: 1.5rem;
      text-align: center; }
    .topic .topic_actions a:hover {
      border: 2px solid #88ab75;
      border-radius: 10px;
      background-color: #88ab75;
      color: #edefef; }
  .topic .comment, .topic .wager {
    margin: 2rem 0; }

.wager .meta {
  background-color: #88ab75; }

.topic_actions a {
  background-color: #d6d6d6; }

.center {
  text-align: center; }

input, textarea, .button {
  width: 100%;
  margin-bottom: 1rem;
  line-height: 3rem;
  font-size: 2rem;
  height: 4rem;
  font-family: "Cutive", serif, serif;
  padding: 1rem; }

textarea {
  margin-top: 2rem;
  height: 20rem; }

input:focus, textarea:focus {
  border: 2px solid #f2a359;
  outline: 0; }

#datetimepicker1 {
  text-align: center; }

.button {
  display: block;
  font-size: 30px;
  font-size: 3rem;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  width: 100%;
  height: 6rem;
  margin: 0 auto;
  padding: 0;
  padding-top: 1.25rem;
  font-family: "Cutive", serif;
  text-align: center;
  background-color: #d6d6d6;
  color: #006992; }

.button:hover {
  border: 2px solid #88ab75;
  border-radius: 10px;
  background-color: #88ab75;
  color: #edefef; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 600px) {
  #menu li {
    display: inline-block;
    width: 45%;
    margin: 1rem 0 1rem 3%; }

  .button {
    width: 230px; }

  .topic {
    max-width: 600px; } }
@media only screen and (min-width: 930px) {
  #wrapper {
    width: 930px; }

  #topic-wrapper {
    width: 600px;
    float: left;
    display: block; }

  #menu {
    margin-left: 1rem;
    width: 230px;
    float: left; }
    #menu li {
      margin-left: 0;
      display: block;
      width: 230px; }

  nav {
    float: right;
    margin-right: 9rem; }
    nav li {
      margin-top: 1rem;
      display: block;
      width: 230px; } }
table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center; }
  table tbody {
    border-top: 1px solid #ddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd; }
  table tr:nth-child(even) {
    background-color: #d6d6d6; }
  table tr:nth-child(2) {
    background-color: #88ab75; }
  table th, table td {
    padding: 15px; }
